/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
.navbar__logo{
  filter:  invert(1);
}
.father-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* padding: 10px; */
  grid-column-gap: 20px;
}
.box-class {
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  height: 120px;
  text-align: left;
  padding: 0.2rem;
  color: var(--ifm-heading-color);
  background-color: var(--ifm-card-background-color);
  border: 1px solid rgba(255, 254, 254, 0.19);
  margin: 10px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.19);
  text-decoration:none;
}
a{
  text-decoration:none !important;
}
.box-class div {
  margin-left: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.box-class:hover {
  /* color: var(--ifm-link-hover-color); */
  /* border-color: var(--ifm-link-hover-color); */
  border: 1px solid var(--ifm-link-hover-color);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.19);
  color: var(--ifm-heading-color);
}

.box-class-title {
  font-size: 1.2rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

